*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.flex{
    flex-direction: row;
    display: flex;
    border: 1px solid black;
    gap: 12px ;
    justify-content: center;
    flex-wrap: wrap;
}
 
.child1{
  height: 100px;
  border:1px solid red;
  flex : 1;
} 
.child2{
    height: 100px;
    border:1px solid red;
    flex : 6;
  } 