*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    gap: 0;
    justify-content: center;
    align-items: center;
   max-width: 1300px;
   flex:1;


   

  }

  .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 240, 234);
    flex: 0.5;
    
  }
  .message{
    height: 100vh;
    border: 0.5px solid rgb(218, 212, 212);
    border-top-left-radius: 15px;
    flex: 4;
    
  }
  .chat{  
    flex: 10;
    height: 100vh; 
  }
              /*      message         */
  .mnav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .icon {
    width: 18px;
    height: 18px;
    object-fit: cover;
  }
 
  .personal-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .search {
    display: flex;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
    width: 20vw;
    font-size: 16px;
    height: 30px;
    margin-bottom: 5px ;
  }
  .messagbox{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    display: block;
    height: 85vh;
   
  }
  .messagboxitem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    
    
  }
  .left{
    padding-right: 12px;
    padding-left: 12px;
    justify-content: end;
    
}
 
.right {
  justify-content: start;
 
}
  .messagboxitem:hover{
    background-color:  rgb(228, 225, 225) ;
    border:1px solid rgb(228, 225, 225) ;
  }
  .notfication{
    float: right;
    background-color: green;
    border: 0.5 solid green;
    color:white;
    border-radius: 50%;
    padding: 6px;
    font-size:xx-small;
  }
 

.name{
  font-size: large;
  font-weight: bold;
}
                       /*      message         */
               
                       


             /*      chat        */          
  .chatnav{
    width: 100%;
    display: flex;
    justify-content: start; 
    padding: 13px;
    gap: 10px;
    border:1px solid rgb(228, 225, 225) ;

  }
  .chatbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    height: 89%; 
    background-image: url("media/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 3px;
    
  }

  .chatmass{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    height: 45px; 
    border: 1px solid #cecaca; 
    background-color: rgb(224, 224, 224);
    box-shadow: 0 4px 6px rgba(48, 48, 48, 0.1); 
  }
  .chatmass textarea {
    width: 90%; 
    height: 35px; 
    font-size: 16px;
    border: 1px solid #cecaca; 
    resize: none; 
    box-shadow: 0 4px 6px rgba(48, 48, 48, 0.1); 
    border-radius: 25px;
  }
  .btn{
    padding: 10px 18px;
    background-color: rgb(10, 107, 10);
    color: white;
    border: none;
    border-radius: 25px;
    
  }




.mass {
  overflow-y: auto; 
  display: flex; 
  flex-direction: column; 
  height: 80vh; 
  gap: 5px;
  width: 100%;
}
.text {
    align-self: flex-start; 
    padding: 8px 12px;
    margin: 5px 0;
    width:fit-content ;
    height: auto;
    border-radius: 20px;
    border: 1px solid  rgb(176, 194, 174) ;
    background-color: rgb(202, 226, 194);
    font-size: medium;
}

.text2 {
    align-self: flex-end; 
    padding: 8px 12px;
    margin: 5px 0;
    width:fit-content ;
    height: auto;
    border-radius: 20px;
    border: 1px solid  rgb(238, 236, 236) ;
    background-color: rgb(243, 243, 242);
    font-size: medium;

}

/*      chat        */   















